@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>目的</h1>
    <p class="lead">Line訊息報告即時通知這個專題主要是給醫生及檢驗師所使用，醫生可以建立醫囑並且多次修改儲存，完成的醫囑交給檢驗師填上檢驗值，當檢驗報告完成後，系統會自動發送經過參數加密的Line連結到醫生的Line中，醫生需要先解密才能打開連結瀏覽報告，同時保障病人隱私。</p>
</div>
<td>
    @Html.ActionLink("Connect", "index1")
</td>