@{
    ViewBag.Title = "Secret";
}

<h2>Secret</h2>

<table class="table table-striped table-primary">
    <tr>
        <td>
            <input placeholder="解密前字串" name="abc">
        </td>
        <td>
            <input placeholder="金鑰" name="123">
        </td>
        <td>
            @using (@Html.BeginForm("Decrypt", "Reports", FormMethod.Post))
            {
                @Html.Hidden("abc", abc)
                @Html.Hidden("123", exam_id)
                <input type="submit" value="解密" class="btn btn-default" />
            }
        </td>
    </tr>
</table>

