
@model Lineee.Models.Report
@{
    ViewBag.Title = "Secret";
}
<h2>Secret</h2>

<table class="table table-striped table-primary">
    <tr>
        @*<td>
            <input placeholder="解密前字串" name="abc">
        </td>
        <td>
            <input placeholder="金鑰" name="123">
        </td>*@
        <td>


            @using (Html.BeginForm("Decrypt", "Reports", FormMethod.Post))
            {

               <td>
                 解密前字串 | 
                 @Html.TextBoxFor(model => model.text)
                 @Html.ValidationMessageFor(model => model.text)
               </td> 

               <td>
                  金鑰 |
                  @Html.TextBoxFor(model => model.key)
                  @Html.ValidationMessageFor(model => model.key)
               </td>
                
               <td>
                <button type="submit">解密</button>
               </td>

            }


        </td>
    </tr>
</table>

